<div class="level-right">
	<div class="level-item">
		<a href="/secure/go_back" class="button is-primary is-rounded">
			<span class="icon">
				<i class="fas fa-sign-out-alt"></i>
			</span>
			<span>Go back</span>
		</a>
		<a href="/user/logout" class="button is-primary is-rounded">
			<span class="icon">
				<i class="fas fa-sign-out-alt"></i>
			</span>
			<span>Logout</span>
		</a>
	</div>
</div>
