<div class="column is-4 ">
	<div class="card">
		<div class="card-image">
			<figure class="image is-4by3 ">
				<img src="${x.image}" alt="Placeholder image " />
			</figure>
		</div>
		<div class="card-content ">
			<div class="media ">
				<div class="media-content ">
					<p class="title is-4 ">${x.title}</p>
					<p class="subtitle "></p>
				</div>
			</div>
			<div class="tags ">
				<span class="tag "> <i class="fas fa-fire "></i>${x.calories} </span>
				<span class="tag "> <i class="fas fa-utensils"></i>For ${x.fat} </span>
			</div>
			<section class="card-body ">
				<div class="content ">
					meta data
				</div>
			</section>

			Source from: <small> spoonacular </small>
		</div>
		<div class="buttons is-centered ">
			<form action="/view_recipe" method="post" class="recipe_info">
				<input type="text" name="food_id" value="${x.id}" hidden />
				<button
					type="submit"
					class="button is-primary is-rounded "
					style="text-align: center; "
				>
					View Recipe
				</button>
			</form>
		</div>
		<br />
	</div>
</div>
