<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./parts/head'); -%>
		<title>Dashboard</title>
	</head>

	<body>
		<section class="hero is-primary is-fullheight is-bold is-medium">
			<div class="hero-head">
				<div class="navbar">
					<div class="container">
						<div class="navbar-brand">
							<a class="navbar-item">
								<img src="/images/logo.png" alt="Logo" />
								<h1 class="is-size-4 has-text-success is-uppercase has-text-weight-semibold is-bold">
                    HealthBro
                </h1>
							</a>
						</div>
						<div id="navbarMenuHeroA" class="navbar-menu">
							<div class="navbar-end">
								<span class="navbar-item">
									<a
										href="/login_and_signup"
										class="button is-success is-inverted"
									>
										<span>Login here</span>
									</a>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="hero-body">
				<div class="container has-text-centered">
					<h1 class="title">
						Let us help you find recipes.
					</h1>
					<br />
					<h2 class="subtitle">
						HealthBro provides you with a simple way to find numerous different
						recipes.
						<br />
						Browse through a variety of recipes based on your preferences.
						<br />
						Track your calories, without fear of your allergies.
					</h2>
					<a
						href="/login_and_signup"
						class="button is-success is-inverted is-medium"
					>
						<span>Start searching!</span>
					</a>
				</div>
			</div>

			<div class="hero-foot has-text-centered">
				<a href="https://spoonacular.com/food-api"
					><img
						src="https://spoonacular.com/images/spoonacular-logo-b.svg"
						style="width: 150px;"
				/></a>
				<div id="edamam-badge" data-color="white"></div>
			</div>
		</section>
	</body>
</html>
