<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./parts/head'); -%>
		<title>Dashboard</title>
	</head>

	<body>
		<%if (locals.msg) { %>
		<h1>
			<%=msg %>
		</h1>

		<% } else { %>
		<!-- This needs to be cleaned up -->
		<h1>hello</h1>
		<% } %>
		<section class="hero is-primary is-fullheight is-bold">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">
						Landing Page
					</h1>
					<div class="buttons are-medium"><!-- button text is white -->
						<a href="/login_and_signup" class="button is-rounded">
							<span>Login Page</span>
						</a>
					</div>
					<div id="edamam-badge" data-color="white"></div>
				</div>
			</div>
		</section>
	</body>
</html>
