<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css'>
    <link rel="stylesheet" href="./css/mystyles.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.2/css/bulma.min.css'>
    <script src="https://developer.edamam.com/attribution/badge.js"></script>
    <title>Error</title>
</head>

<body>
    <section class="hero is-primary is-fullheight is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    403 Access Denied
                </h1>
                <p>Email or password is incorrect, click the button below to try again</p>
                <div class="buttons are-medium">
                    <a href="/login_and_signup" class="button is-rounded">
                        <span style="color: black">Login Page</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>