<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./parts/head'); -%>
		<title>403 Error</title>
	</head>
	<body>
		<section class="hero is-primary is-fullheight is-bold">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">
						403 Access Denied
					</h1>
					<p>You are not login</p>
					<br />
					<div class="buttons are-medium">
						<a href="/login_and_signup" class="button is-rounded">
							<span style="color: black">Login Page</span>
						</a>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
