<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Login</title>
  </head>

  <body>
    <div class="container">
      <h1>Login</h1>
      <form
        class="form-group"
        id="login-form"
        method="POST"
        action="/login/gNQu5jGgxPL42r8g5zm6"
      >
        <!-- <form class="form-group" id="login-form"> -->
        <div class="form-group">
          <label for="username">Username: </label>
          <input
            type="text"
            name="loginUser"
            id="username"
            class="form-control mx-sm-3"
            value=""
            required
          />
        </div>

        <div class="form-group">
          <label for="password">password: </label>
          <input
            type="password"
            name="loginPw"
            id="password"
            class="form-control mx-sm-3"
            value=""
            required
          />
        </div>

        <button type="submit" id="login-submit" class="btn btn-outline-primary">
          Login
        </button>
      </form>
    </div>

    <div class="container">
      <h1>Sign-up</h1>
      <form
        class="form-group"
        id="sign-up-form"
        method="POST"
        action="/login/JKp7DeJXgaFtxaJ7FTXb"
      >
        <!-- <form class="form-group" id="sign-up-form"> -->
        <div class="form-group">
          <label for="sign-up-username">Username: </label>
          <input
            type="text"
            name="signupUser"
            id="sign-up-username"
            class="form-control mx-sm-3"
            value=""
            required
          />
        </div>

        <div class="form-group">
          <label for="sign-up-password">password: </label>
          <input
            type="password"
            name="signupPw"
            id="sign-up-password"
            class="form-control mx-sm-3"
            value=""
            required
          />
        </div>

        <button
          type="submit"
          id="sign-up-submit"
          class="btn btn-outline-primary"
        >
          Sign-up
        </button>
      </form>
    </div>

    <!-- <%- include('./parts/jq'); -%>
  <script>
    $(function () {
      $("#login-form").on('submit', function () {
        $.ajax({
          url: "/login/gNQu5jGgxPL42r8g5zm6",
          type: "post",
          data: {
            loginUser: $("#username").val(),
            loginPw: $("#password").val(),
          }
        })
      });

      $("#sign-up-form").on('submit', function () {
        $.ajax({
          url: "/login/JKp7DeJXgaFtxaJ7FTXb",
          type: "post",
          data: {
            username: $("#sign-up-username").val(),
            password: $("#sign-up-password").val(),
          }
        })
      });
    });
  </script> -->
  </body>
</html>
