<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Basic Account</title>
		<link rel="stylesheet" href="/css/mystyles.css" />
		<script
			defer
			src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
		></script>
		<link
			href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body class="basic-body">
		<header class="nav_header">
			<%if (locals.id ) { %> <%- include('./parts/premium_header',{id:id}); -%>
			<%}%>
		</header>
		<main class="content_page">
			<section class="level">
				<div class="container">
					<br />
					<h1 class="title" style="text-align: center; ">Meal Plan</h1>
					<div class="field has-addons  has-addons-centered">
						<div class="control">
							<input class="input" type="text" placeholder="Ex. 2000" />
						</div>
						<div class="control">
							<a class="button is-success">
								Search
							</a>
						</div>
					</div>
				</div>
			</section>
			<section class="level"></section>
		</main>

		<section class="hero is-fluid is-bold ">
			<div class="hero-body container is-fluid " style="width:80%; ">
				<div class="container is-fluid ">
					<!-- Nutrient Card -->
					<div class="columns ">
						<div class="column ">
							<div class="container is-fluid bd-notification">
								<div class="card">
									<div class="card-content">
										<h1 class="title ">Nutrients</h1>
										<p>Total Calories :</p>
										<p>Total Carbohydrates :</p>
										<p>Fat :</p>
										<p>Protein :</p>
									</div>
								</div>
							</div>
						</div>
						<!-- Meal cards -->
						<div class="column meal-plan-cards ">
							<div class="container is-fluid ">
								<h1 class="title " style="text-align: center; ">Breakfast</h1>
								<div class="container is-fluid ">
									<div class="card-image ">
										<figure class="image is-4by3 ">
											<img
												src="https://bulma.io/images/placeholders/1280x960.png "
												alt="Placeholder image "
											/>
										</figure>
										<h1 class="is-size-4 " style="text-align: center; ">
											Food Name
										</h1>
									</div>
								</div>
								<p class="is-size-6 recipe-card">Ready In :</p>

								<p class="is-size-6 recipe-card">Servings :</p>
								<div class="buttons is-centered ">
									<button class="button is-success is-centered ">
										View Recipe
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer class="footer ">
			<%- include('./parts/footer'); -%>
		</footer>
	</body>
	<%- include('./parts/jq'); -%>
	<script type="text/javascript" src="/Src/burger.js"></script>
</html>
