<div class="field">
	<div class="control">
		<label class="checkbox">
			<input name="health" type="checkbox" value="pescetarian" />
			Pescetarian
		</label>
		<label class="checkbox">
			<input name="health" type="checkbox" value="vegetarian" />
			Vegetarian
		</label>
		<label class="checkbox">
			<input name="health" type="checkbox" value="lacto vegetarian" />
			Lacto Vegetarian
		</label>

		<label class="checkbox">
			<input name="health" type="checkbox" value="vegan" />
			Vegan
		</label>
		<label class="checkbox">
			<input name="health" type="checkbox" value="paleo" />
			Paleo
		</label>
		<label class="checkbox">
			<input name="health" type="checkbox" value="primal" />
			Primal
		</label>
	</div>
</div>
