<div class="field">
	<div class="control">
		<label class="checkbox">
			<input name="health" type="checkbox" value="pescetarian" />
			pescetarian
		</label>
		<label class="checkbox">
			<input name="health" type="checkbox" value="vegetarian" />
			vegetarian
		</label>
		<label class="checkbox">
			<input name="health" type="checkbox" value="lacto vegetarian" />
			lacto vegetarian
		</label>
		<label class="checkbox">
			<input name="health" type="checkbox" value="ovo vegetarian" />
			ovo vegetarian
		</label>
		<label class="checkbox">
			<input name="health" type="checkbox" value="vegan" />
			vegan
		</label>
		<label class="checkbox">
			<input name="health" type="checkbox" value="paleo" />
			paleo
		</label>
		<label class="checkbox">
			<input name="health" type="checkbox" value="primal" />
			primal
		</label>
	</div>
</div>
