<div class="field">
	<div class="control">
		<label class="checkbox">
			<input name="type" type="checkbox" value="dessert" />
			Dessert
		</label>
		<label class="checkbox">
			<input name="type" type="checkbox" value="appetizer" />
			Appetizer
		</label>
		<label class="checkbox">
			<input name="type" type="checkbox" value="salad" />
			Salad
		</label>
		<label class="checkbox">
			<input name="type" type="checkbox" value="bread" />
			Bread
		</label>
		<label class="checkbox">
			<input name="type" type="checkbox" value="breakfast" />
			Breakfast
		</label>
		<label class="checkbox">
			<input name="type" type="checkbox" value="soup" />
			Soup
		</label>
		<label class="checkbox">
			<input name="type" type="checkbox" value="sauce" />
			Sauce
		</label>
	</div>
</div>
