<div class="field">
	<div class="control">
		<label class="checkbox">
			<input name="type" type="checkbox" value="main course" />
			main course
		</label>
		<label class="checkbox">
			<input name="type" type="checkbox" value="side dish" />
			side dish
		</label>
		<label class="checkbox">
			<input name="type" type="checkbox" value="dessert" />
			dessert
		</label>
		<label class="checkbox">
			<input name="type" type="checkbox" value="appetizer" />
			appetizer
		</label>
		<label class="checkbox">
			<input name="type" type="checkbox" value="salad" />
			salad
		</label>
		<label class="checkbox">
			<input name="type" type="checkbox" value="bread" />
			bread
		</label>
		<label class="checkbox">
			<input name="type" type="checkbox" value="breakfast" />
			breakfast
		</label>
		<label class="checkbox">
			<input name="type" type="checkbox" value="soup" />
			soup
		</label>
		<label class="checkbox">
			<input name="type" type="checkbox" value="beverage" />
			beverage
		</label>
		<label class="checkbox">
			<input name="type" type="checkbox" value="sauce" />
			sauce
		</label>
		<label class="checkbox">
			<input name="type" type="checkbox" value="drink" />
			drink
		</label>
	</div>
</div>
