<div class="card" style="width: 100%;">
	<ul class="nav justify-content-around grey lighten-4">
		<li class="nav-item">
			<a class="nav-link active" href="#!">Breakfast</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#!">Lunch</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#!">Dinner</a>
		</li>
	</ul>
</div>
