<div class="field">
	<div class="control">
		<label class="checkbox">
			<input name="intolerances" type="checkbox" value="peanut" />
			peanut-free
		</label>
		<label class="checkbox">
			<input name="intolerances" type="checkbox" value="dairy" />
			dairy-free
		</label>
		<label class="checkbox">
			<input name="intolerances" type="checkbox" value="egg" />
			egg-free
		</label>
		<label class="checkbox">
			<input name="intolerances" type="checkbox" value="gluten" />
			gluten-free
		</label>
		<label class="checkbox">
			<input name="intolerances" type="checkbox" value="sesame" />
			sesame-free
		</label>
		<label class="checkbox">
			<input name="intolerances" type="checkbox" value="seafood" />
			seafood-free
		</label>
		<label class="checkbox">
			<input name="intolerances" type="checkbox" value="shellfish" />
			shellfish-free
		</label>
		<label class="checkbox">
			<input name="intolerances" type="checkbox" value="soy" />
			soy-free
		</label>
		<label class="checkbox">
			<input name="intolerances" type="checkbox" value="sulfite" />
			sulfite-free
		</label>
		<label class="checkbox">
			<input name="intolerances" type="checkbox" value="tree nut" />
			tree nut-free
		</label>
		<label class="checkbox">
			<input name="intolerances" type="checkbox" value="wheat" />
			wheat-free
		</label>
	</div>
</div>
