<div class="level-right">
    <div class="level-item">
        <a href="/user/logout" class="button is-primary is-rounded">
            <span class="icon">
                <i class="fas fa-sign-out-alt"></i>
            </span>
            <span>Logout</span>
        </a>
    </div>
</div>