<div class="container" style="margin-top: 30px;">
	<form class="form-inline col-md-12" id="searchForm">
		<div class="form-group" style="margin-top: 15px;">
			<label for="inputText">Enter User ID: </label>
			<input type="text" name="id" class="form-control mx-sm-3" value="" />
		</div>
		<div class="form-group" style="margin-top: 15px;">
			<label for="inputText">Enter Name: </label>
			<input type="text" name="name" class="form-control mx-sm-3" value="" />
		</div>
		<div class="form-group" style="margin-top: 15px;">
			<label for="inputText">Enter Email: </label>
			<input type="text" name="email" class="form-control mx-sm-3" value="" />
		</div>
		<button type="submit" id="submit" class="btn btn-outline-primary" style="margin-top: 15px;">
			Update user info
		</button>
	</form>
</div>